ion-searchbar {
margin-bottom: 1px;
margin-top: 1px;
--background:white; 
--border-radius: 7px;
--color: green;
--placeholder-color: green; 
}

ion-segment {
    margin-top: 1px;
    margin-bottom: 1px;
    }

ion-segment-button {
    margin-top: 0px;
    margin-bottom: 0px;
    }
            .my-custom-class {
                --background: #e5e5e5;
              }