
   div{ 
        margin-left: 14vh;
        margin-right: 12vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
  
    ion-title{ 
        margin-left: 16vh;
        margin-right: 12vh;
        margin-top: 10vh;
        margin-bottom: 5vh;
       
    }

ion-button{ 
    margin-left: 8vh;
    margin-right: 8vh;
   
}

.datos{
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 5vh;
    margin-bottom: 5vh;  
}