div{ 
    margin-left: 14vh;
    margin-right: 14vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

ion-button{ 
margin-left: 8vh;
margin-right: 8vh;
}

.datos{
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 5vh;
    margin-bottom: 5vh;  
}